<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos Molones</title>
</head>

<body>
    <main class="mainLanding">
        <div class="mainLanding__container">
            <h1 class="mainLanding__container__title">Proyectos Molones</h1>
            <p class="mainLanding__container__subtitle">
                Escaparate en línea para recoger ideas a través de la tecnología.
            </p>
        </div>

        <section class="mainLanding__sectionCard">
            <img class="preview__image" src="" alt="Foto de la tarjeta">
            <article class="preview__autor">
                <div class="preview__autor__info-project">
                    <p class="preview__autor__info-project--subtitle">
                        Proyectos Molones
                    </p>
                    <h2 class="preview__autor__info-project--title">Hola</h2>
                    <p class="preview__autor__info-project--slogan">Hola</p>
                    <p class="preview__autor__info-project--desc">Hola</p>
                    <div class="preview__autor__info-project--technologies">
                        <p class="preview__autor__info-project--technologies--text">
                            Hola
                        </p>
                    </div>
                    <div class="preview__autor__info-project--icons">
                        <a class="cardLink" href="Hola" target="_blank">
                            <i class="fa-brands fa-github-alt" aria-hidden="true"></i>
                        </a>
                        <a class="cardLink" href="Hola" target="_blank">
                            <i class="fa-solid fa-globe" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>

                <div class="preview__autor__info-autor">
                    <img class="preview__autor__info-autor--image" src="" alt="">

                    <p class="preview__autor__info-autor--job">Hola</p>
                    <p class="preview__autor__info-autor--name">Hola</p>
                </div>
            </article>
        </section>
        <!--   <footer class="footer">
          <a href="https://adalab.es/" class="footer__copy"> Team Adalab </a>
          <a>
            <img
              class="footer__image"
              src="https://adalab.es/wp-content/uploads/2022/03/logo-adalab.png"
            />
          </a>
        </footer> -->
    </main>

</body>

</html>